@{
    ViewBag.Title = "About";
}
<h2>Kilka zdań o nas</h2>

<br>
<p>	Jesteśmy firmą zajmującą się kolekcjonowaniem i sprzedażą najlepszych i najrzadszych albumów muzycznych ostatniego stulecia.
U nas znajdziesz przeróżne gatunki - najwięksi artysci, alternatywne płyty w atrakcyjnych cenach oraz wiele innych rozwiązań dla kolekcjonerów i casualowców.
Zakupy w sklepie musical store to gwarancja satysfakcji i wzorowego serwisu.

Oferujemy darmową wysyłkę od 40 € wartości zamówienia. Wszystkie ceny zawierają podatek VAT 23 %.
<p>

