@using MusicStoreMVC.HtmlHelpers
@model MusicStoreMVC.Models.AlbumListViewModel

@{
    ViewBag.Title = "Index";
}

<style>
    body { background-image: url("../Content/Images/FrontSiteBg.jpg"); }
</style>

<div id="page-top">
   <header>
	<div class="animated fadeIn">
        <div class="header-content">
            <div class="header-content-inner">
				<h1>Musical Store</h1>
                <p>Znajdziesz tu przeróżne albumy muzyczne - najwięksi artysci, alternatywne płyty w atrakcyjnych cenach oraz wiele innych rozwiązań dla kolekcjonerów i casualowców.</p>
				@Html.ActionLink("Przejdz do sklepu", "Albumy", "Album", new { @class="btn btn-primary btn-xl page-scroll" })
            </div>
        </div>
	</div>
    </header>
</div>