@model Model.Entities.ContactForm


<div class="container">
    <h1>Kontakt</h1>

    <section class="row" style="margin-bottom:20px">
        <header class="col-xs-12">
            <hr class="line" style="color:brown;" />
        </header>
        <div class="col-xs-12 col-md-6" id="contactFormContainer" style="width:700px">
            <form action="/contact/SendMessage" method="POST" role="form" id="contactForm" class="form-horizontal highlight-errors" novalidate="novalidate">
                <div class="form-group">
                    <label for="emailAddress" class="col-xs-12 col-sm-3 font-normal">Twój adres e-mail:</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="email" class="form-control" id="emailAddress" name="Email" placeholder="adres e-mail" maxlength="60">
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailAddress" class="col-xs-12 col-sm-3 font-normal">Temat:</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="email" class="form-control" id="emailAddress" name="Topic" placeholder="temat" maxlength="60">
                    </div>
                </div>
                <div class="form-group">
                    <label for="question" class="col-xs-12 col-sm-3 font-normal">Wiadomość:</label>
                    <div class="col-xs-12 col-sm-9">
                        <textarea name="Message" id="question" class="form-control" rows="5" style="width:400px;" placeholder="wiadomość" required="required" maxlength="2000"></textarea>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-6 col-sm-offset-3">
                    <input type="submit" value="Wyslij" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </section>

    <section class="row">
        <div>
            <span style="color:red">@ViewBag.Title</span><br />
        </div>
    </section>
</div>